<i style="color:green">trips#edit: find me in: app/views/trips/edit.html.erb</i>
<br>
<h1><center>Edit <%= @trip.name %></center></h1>
<%= render "items/display_convoy_info" %>
<%= render "items/trip_form_&_errors" %>
