<i style="color:green">trips#index: find me in: app/views/trips/index.html.erb</i>
<br>
<h2>All Trips on Expeditionary Convoy Planner</h2>
<p>Please select the trip you would like to view or edit.  You may only edit a trip if you own a vehicle that is registered on the trip's convoy</p>

<ul>
  <% @trips.each do |trip| %>
    <li>
      <%= link_to trip.name, trip_path(trip) %>
      total distance: <%= trip.total_adjusted_distance.floor %> miles
      <br><%= render "items/alter_convoy", :@trip => trip %><br><br><br>

    </li>
  <% end %>
</ul>
