<i style="color:green">site#burdapp - find me in: app/views/site/burdapp.html.erb</i>
<br>
<h2>You are currently logged in as a user named <%= @user.username %></h2>
<p>This program was created from material in the Flatiron School cirriculum</p>
<p>The objective of this program is to log users in with the following:</p>
<ul>
  <li> A unique username </li>
  <li> A unique email address </li>
  <li> An encrypted password </li>
  <li> The option to signin with GitHub (OmniAuth) </li>
</ul>
