<i style="color:green">vehicles#edit - find me in: app/views/vehicles/edit.html.erb</i>

<h1>Edit <%= @vehicle.name %></h1>

<!-- see notes on : app/views/vehicles/new.html.erb for the line of code below -->
<%= form_for @vehicle, :url => user_vehicle_path do |f| %>
  <%= render "items/vehicle_form_&_errors", :vehicle_form => f %>
<% end %>
