<i style="color:green">vehicles#index - find me in: app/views/vehicles/index.html.erb</i>
<ul>
  <% @vehicles.each do |vehicle| %>
    <li><%= link_to vehicle.name, user_vehicle_path(@user, vehicle) %></li>
  <% end %>
</ul>
