<i style="color:green">vehicles#new: find me in app/views/vehicles/new.html.erb</i>
<br>
<h1>New Vehicle for <%= @user.username %></h1>

<!--
Because we are working with nested routes, the paths for new & edit are non-standard.
The user_vehicles_path shown below does not have a PATCH verb as evidenced from viewing
$ rails routes in the console.  Therefore, the user_vehicles_path cannot be used in the
edit form...instead...the edit form utilizes the "user_vehicle_path" instead.
Additionally, the ":url =>" snippet must be used as shown below or the app will generate a
TypeError in Vehicles#new.
-->
<%= form_for @vehicle, :url => user_vehicles_path do |f| %>
  <%= render "items/vehicle_form_&_errors", :vehicle_form => f %>
<% end %>
